extends layout

block content
    // Barra de Navegação
    .w3-top
        .w3-bar.w3-theme-d2.w3-left-align.w3-large
            // Ao clicar neste botão ir para o feed
            a.w3-bar-item.w3-button.w3-padding-large.w3-hover-white(href='/feed')
                i.fa.fa-facebook.w3-margin-right
                | myFacebook
            .w3-bar-item.w3-hide-small.w3-padding-large(style='margin-left:142px')
                .search-container
                    form(action='/utilizadores/')
                        input(type='text' placeholder='Pesquisar...' name='nome')
                        | &nbsp;
                        button.w3-button.w3-hover-white(type='submit')
                            i.fa.fa-search
            // Ao clicar neste botão ir para a página inicial (login/registo)
            form(action='/utilizador/logout' method='POST')
                button.w3-bar-item.w3-button.w3-hide-small.w3-right.w3-padding-large.w3-hover-white(type='submit' title='Logout' style="background-color: Transparent;background-repeat:no-repeat;border: none;cursor:pointer;overflow: hidden;outline:none;")
                    i.fa.fa-power-off
            // Ao clicar neste botão mostrar os utilizadores (nova página)
            a.w3-bar-item.w3-button.w3-hide-small.w3-right.w3-padding-large.w3-hover-white(href='/utilizadores' title='Utilizadores')
                i.fa.fa-group
            // Ao clicar neste botão mostrar os eventos (nova página)
            a.w3-bar-item.w3-button.w3-hide-small.w3-right.w3-padding-large.w3-hover-white(href='/eventos' title='Eventos')
                i.fa.fa-calendar-check-o
    // Page Container
    .w3-content(style='max-width:1400px;margin-top:50px')
        // The Grid
        .w3-row
            header.w3-container
                h2.w3-center(style="color:#006683") Criar Evento
            br
            form.w3-container(action='/evento' method='POST')
                b.w3-text-theme Nome *
                br(style="line-height:30px;")
                input.w3-input.w3-border(name='titulo' type='text' placeholder="Ex: Festa de Aniversário")
                br
                b.w3-text-theme Descrição
                br(style="line-height:30px;")
                input.w3-input.w3-border(name='descricao' type='text' placeholder="Ex: 21º aniversário")
                br
                b.w3-text-theme Local
                br(style="line-height:30px;")
                input.w3-input.w3-border(name='local' type='text' placeholder="Ex: Rua das Flores")
                br
                b.w3-text-theme Data de início *
                br(style="line-height:30px;")
                input.w3-input.w3-border(id="date" name="dataInicio" placeholder="mm/dd/yyyy" class="textbox-n" type="text" onfocus="(this.type='date')" onblur="(this.type='text')")
                br
                b.w3-text-theme Data de fim *
                br(style="line-height:30px;")
                input.w3-input.w3-border(id="date" name="dataFim" placeholder="mm/dd/yyyy" class="textbox-n" type="text" onfocus="(this.type='date')" onblur="(this.type='text')")
                br
                b.w3-text-theme Descritores
                br(style="line-height:30px;")
                input.w3-input.w3-border(id="descritores" name="descritores" type="text" placeholder="Ex: #festa") 
                br
                b.w3-text-theme Privacidade
                br(style="line-height:30px;")
                input(id="privacidade" name="privacidade" type="radio" value='true')
                | &nbsp;Privado &nbsp;&nbsp;
                input(id="privacidade" name="privacidade" type="radio" value='false')
                | &nbsp;Público &nbsp;&nbsp;
                br
                br
                .w3-center
                    input.w3-btn.w3-theme-d2(type='submit' value='Confirmar')
                br