extends layout

block content
  .w3-card-4(style="min-height: 100vh")
    header.w3-container.w3-theme-d2
      h1 myFacebook
    .w3-container
      .w3-row
        .w3-col.m6
          .w3-container
            h3.w3-container Login
            form.w3-container(action='/utilizador/login' method='POST')
              input.w3-input.w3-border(name='email' type='email' placeholder='Email')
              br
              input.w3-input.w3-border(name='password' type='password' placeholder='Password')
              br
              input.w3-btn.w3-theme-d2(type='submit' value='login')
              br
        .w3-col.m6
          .w3-container
            h3.w3-container Registo
            form.w3-container(action='/utilizador/registar' method='POST')
              input.w3-input.w3-border(name='nome' type='text' placeholder='Primeiro e Último Nome')
              br
              input.w3-input.w3-border(name='email' type='email' placeholder='Email')
              br
              input.w3-input.w3-border(name='password' type='password' placeholder='Password')
              br
              input.w3-input.w3-border(id="date" name="dataNasc" placeholder="Data de Nascimento" class="textbox-n" type="text" onfocus="(this.type='date')" onblur="(this.type='text')") 
              br
              input(name="sexo" type="radio" value="Feminino")
              | &nbsp;Feminino &nbsp;&nbsp;
              input(name="sexo" type="radio" value="Masculino")
              | &nbsp;Masculino &nbsp;&nbsp;
              input(name="sexo" type="radio" value="Outro")
              | &nbsp;Outro
              br
              br
              input.w3-btn.w3-theme-d2(type='submit' value='registar')
              br